@import "tailwindcss";
@theme {
  --color-text: #d7fcff;
--color-background: #011011;
--color-primary: #6cedfd;
--color-secondary: #0a204e;
--color-accent: #263ffd;

--font-serif: "EB Garamond", serif;
--font-sans: "Montserrat", sans-serif;
}

.colors {
  background-color: #263ffd;
}